<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodaIconMaskFile</key>
	<string>PantoneColorsIcon</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.midwinter-dg.plugin.PANTONEcolors</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PANTONEcolors</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>CodaDescriptionString</key>
	<string>A color palette of Pantone #hex and rgb() color values</string>
	<key>CodaIconMaskTintString</key>
	<string>#6d4cba</string>
	<key>CodaAuthorString</key>
	<string>D.G. Midwinter</string>
</dict>
</plist>
