
* {
	box-sizing: border-box !important;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: 0 !important;
	padding: 0 !important;
}

body {
	height: 100%;
	width: 100%;
	background-color: #3b434b;
	color: #fff;
	overflow: hidden;
	position: relative;
	border: 0 !important;
	padding: 0 !important;
}

header {
	width: 100%;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	background-color: #5A646E;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px #3b434b;
}

#header-button {
	appearance: none;
	border: 0;
	background: transparent;
	color: #fff;
	padding: 4px 10px;
	border-radius: 4px;
}

#header-button:active {
	box-shadow: inset 0 2px 5px #3b434b;
}

.swatch {
	width: 14px;
	height: 14px;
	margin-right: 2px;
	display: inline-block;
	border-radius: 50%;
	background-color: #5A646E;
	vertical-align: text-top;
	transition: background-color .15s linear;
}

main {
	margin: 30px 0;
	padding: 10px 15px;
	height: 100%;
	overflow-y: scroll;
	text-align: center;
}

footer {
	width: 100%;
	padding: 0;
	background-color: transparent;
	position: fixed;
	bottom: -226px;
	left: 0;
	box-shadow: 0 0 10px #3b434b;
	transition: bottom .15s ease-in;
}

footer.revealed {
	bottom: 0;
}

.footer-head {
	font-size: 10px;
	line-height: 30px;
	padding: 0 15px;
	display: block;
	color: #B0C4DE;
	background-color: #5A646E;
}

.selected-type {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	border: 1px solid #B0C4DE;
	padding: 0 4px;
	margin-left: 5px;
	border-radius: 3px;
}

#toggle-options {
	appearance: none;
	border: 0;
	width: 27px;
	height: 30px;
	padding: 0;
	float: right;
	display: inline;
	background: transparent;
}

footer .options-svg {
	fill: #B0C4DE;
}

footer.revealed .options-svg {
	fill: #000;
}

.options {
	padding: 10px 15px;
	background-color: rgba(0,0,0,.85);
	margin: 0;
	font-size: 11px;
	text-align: right;
}

.options dl {
	border-bottom: 1px solid #3b434b;
	padding-bottom: 5px;
}

dt {
	font-weight: bold;
	color: #fff;
}

dd {
	color: #B0C4DE;
}

dd input {
	vertical-align: middle;
	line-height: 16px;
	margin-left: 6px;
}

main ul {
	list-style-type: none;
	padding-left: 0;
	display: block;
	margin: 0 auto;
	padding-bottom: 60px;
}

main ul li {
	display: inline-block;
	padding: 3px;
}

main ul li.list {
	display: block;
	padding: 3px;
}

main ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	display: block;
	width: 28px;
	height: 28px;
	background: #999;
	overflow: hidden;
	text-indent: -9000px;
	box-shadow: 0 2px 6px rgba(0,0,0,.25);
	border-radius: 3px;
	cursor: default;
	transition: width .15s ease-in, height .15s ease-in;
}

main ul li.small a {
	width: 16px;
	height: 16px;
}

main ul li.list a {
	height: 18px;
	width: 100%;
	text-indent: 0;
	text-align: left;
}

main ul li a span {
	background-color: rgba(0,0,0,.6);
	display: inline-block;
	line-height: 18px;
	padding: 0 10px;
	position: relative;
}

main ul li a:active {
	box-shadow: inset 0 2px 6px rgba(0,0,0,.35);
}

.hidden {
	display: none !important;
}

#categories {
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 6px;
	border: 0;
	-webkit-appearance: button;
	overflow: hidden;
	text-indent: 1000px;
	background: transparent url('categories.svg') no-repeat center center;
}
